{% extends "templates/indexLayout.html.twig" %}



    {% block carrito %}
        No has añadido productos
        <a id="carritobtn" class="color-egibide-bg btn btn-primary mt-5 w-100">Tramitar
                                pedido</a>
    {% endblock %}

    {% block productos %}

        {% for categoria in categorias %}
            <div id="accordion{{ categoria.categoria|replace({' ': ''}) }}">
                <a class="producto collapsed" data-toggle="collapse" data-target="#collapse{{ categoria.categoria|replace({' ': ''}) }}"
                    aria-expanded="false" aria-controls="collapse{{ categoria.categoria|replace({' ': ''}) }}">
                    <div id="heading{{ categoria.categoria|replace({' ': ''}) }}" class="item-separation" onclick="rotateArrow('arrow{{ categoria.categoria|replace({' ': ''}) }}');">
                        <h2 id="{{ categoria.categoria|replace({' ': ''}) }}">{{ categoria.categoria|capitalize }}</h2>
                        <img id="arrow{{ categoria.categoria|replace({' ': ''}) }}" class="img-fluid" src="img/arrow-down.svg">
                    </div>
                </a>
                <div id="collapse{{ categoria.categoria|replace({' ': ''}) }}" class="collapse" aria-labelledby="heading{{ categoria.categoria|replace({' ': ''}) }}" data-parent="#accordion{{ categoria.categoria|replace({' ': ''}) }}">
                    <ul class="list-group">
                        {% for producto in productos %}
                            {% if categoria.categoria == producto.CATEGORIA %}
                                <button type="button" class="p-4 list-group-item list-group-item-action item-separation" data-toggle="modal" data-target="#modalProductos" data-cantidad="{{ producto.PEDIDO_MIN }}" data-medida="{{ producto.MEDIDA }}" data-precio="{{ producto.PRECIO }}" data-nombre="{{ producto.NOMBRE }}" data-id="{{ producto.ID_PRODUCTO }}">

                                    <span>{{ producto.NOMBRE }}</span>
                                    {% if producto.MEDIDA == "R" %}
                                        <span>Precio ración = {{ producto.PRECIO }} €</span>
                                    {% elseif producto.MEDIDA == "K" %}
                                        <span>Precio kilo = {{ producto.PRECIO }} €</span>
                                    {% else %}
                                        <span>Precio unidad = {{ producto.PRECIO }} €</span>
                                    {% endif %}
                                </button>

                            {% endif %}            

                        {% endfor %}

                    </ul>
                </div>
            </div>
            <hr class="mb-1">
        {% endfor %}

        <div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Datos Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" onsubmit="return carrito();">
                            <input type="hidden" name="idProducto" class="idProducto">
                            <input type="hidden" name="nombreProducto" class="nombreProducto">
                            <input type="hidden" name="precioProducto" class="precioProducto">
                            <span class="nProducto"></span><br>
                            <span class="pProducto"></span><br>
                            <div class="form-group">
                                <label for="unidades" class="medidaProducto"></label>
                                <input type="number" class="form-control" id="unidades" name="unidades" pattern="[0-9]" value="0">
                            </div>
                            <div class="item-separation">
                                <button type="button" class="btn btn-secondary pl-4 pr-4" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}
