{% extends "templates/indexLayout.html.twig" %}

    {% block productos %}

        {% for categoria in categorias %}
            <div id="accordion{{ categoria.categoria|replace({' ': ''}) }}">
                <a id="hoverItem" class="producto collapsed" data-toggle="collapse" data-target="#collapse{{ categoria.categoria|replace({' ': ''}) }}"
                    aria-expanded="false" aria-controls="collapse{{ categoria.categoria|replace({' ': ''}) }}">
                    <div id="heading{{ categoria.categoria|replace({' ': ''}) }}" class="item-separation" onclick="rotateArrow('arrow{{ categoria.categoria|replace({' ': ''}) }}');">
                        <h2 id="{{ categoria.categoria|replace({' ': ''}) }}">{{ categoria.categoria|capitalize }}</h2>
                        <img id="arrow{{ categoria.categoria|replace({' ': ''}) }}" class="img-fluid" src="img/arrow-down.svg">
                    </div>
                </a>
                <div id="collapse{{ categoria.categoria|replace({' ': ''}) }}" class="collapse" aria-labelledby="heading{{ categoria.categoria|replace({' ': ''}) }}" data-parent="#accordion{{ categoria.categoria|replace({' ': ''}) }}">
                    <ul class="list-group">
                        {% for producto in productos %}
                            {% if categoria.categoria == producto.CATEGORIA %}
                                <button id="hoverItem" type="button" class="p-4 list-group-item list-group-item-action item-separation" data-toggle="modal" data-target="#modalProductos" data-cantidad="{{ producto.PEDIDO_MIN }}" data-medida="{{ producto.MEDIDA }}" data-precio="{{ producto.PRECIO }}" data-nombre="{{ producto.NOMBRE }}" data-id="{{ producto.ID_PRODUCTO }}">

                                    <span>{{ producto.NOMBRE }}</span>
                                    {% if producto.MEDIDA == "R" %}
                                        <span>Precio ración = {{ producto.PRECIO }} €</span>
                                    {% elseif producto.MEDIDA == "K" %}
                                        <span>Precio kilo = {{ producto.PRECIO }} €</span>
                                    {% else %}
                                        <span>Precio unidad = {{ producto.PRECIO }} €</span>
                                    {% endif %}
                                </button>

                            {% endif %}            

                        {% endfor %}

                    </ul>
                </div>
            </div>
            <hr class="mb-1">
        {% endfor %}


        <div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="formProductos" onsubmit="return annadirCarrito(this);">
                            <input type="hidden" name="idProducto" class="idProducto">
                            <input type="hidden" name="precioProducto" class="precioProducto">
                            <input type="hidden" name="nombreProducto" class="nombrePorducto">
                            <input type="hidden" name="minProducto" class="minProducto">
                            <span class="nProducto"></span><br>
                            <span class="pProducto"></span><br>
                            <div class="form-group">
                                <label for="unidadesProducto" class="medidaProducto"></label>
                                <input type="number" class="form-control" id="unidadesProducto" name="unidadesProducto" pattern="[0-9]">
                            </div>
                            <p id="errorMsg" class="text-danger mt-0"></p>
                            <div class="item-separation">
                                <button type="button" id="closemodal" class="btn btn-secondary pl-4 pr-4" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-primary">Añadir al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

    {% block carrito %}
        <!--<div id="carritoProductos" class="col-12 mt-4 nada">No has añadido productos</div>-->
        <ul id="carritoLista" class="list-group card">
            {%  if (carrito) %}
                {% set unidades=0 %}
                {% for producto in carrito %}
                    <li id='eliminar{{ producto.id }}' class='p-4 list-group-item item-separation'>
                        {{ producto.nombre }}
                        <span>
                            <img id='hoverItem' class='mr-2' src='img/minus.svg' height='25' onclick='cambiarUnidades({{ producto.id }},0,1,{{ producto.min }})'>
                            <img id='hoverItem' class='mr-3 mt-0' src='img/plus.svg' height='25' onclick='cambiarUnidades({{ producto.id }},1,1,{{ producto.min }})'>
                            <span id='cambiar{{ producto.id }}'>
                                {{ producto.cantidad }}
                            </span> Unidades
                        </span>
                    </li>
                    {% set unidades = unidades + producto.cantidad|number_format %}
                {% endfor %}
                <input type="hidden" id="unidadesCarrito" value="{{ unidades }}">
            {% else %}
                <li id="noProductos" class="p-4 list-group-item item-separation" style="border: none !important;">No tienes ningun producto</li>
            {% endif %}
        </ul>
        <div class="mt-4 mb-3 ml-auto mr-auto">
            <button id="carritobtn" class="btn btn-primary pl-4 pr-4 pt-2 pb-2" data-toggle="modal" data-target="#modalPedido"><span class="h4">Tramitar pedido</span></button>
        </div>

        <div class="modal fade" id="modalPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center justify-content-center">
                        <h5 class="modal-title" id="exampleModalLabel">Realizar pedido</h5>
                    </div>
                    <div class="modal-body">
                        <form id="formPedido" action="#" method="post" onsubmit="return tramitarPedido();">
                            <div class="form-group">
                                <label for="nombreCliente">Nombre</label>
                                <input type="text" class="form-control" id="nombreCliente" name="nombreCliente" placeholder="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="correoCliente">Correo</label>
                                <input type="email" class="form-control" id="correoCliente" name="correoCliente" placeholder="correo" required>
                            </div>
                            <div class="form-group">
                                <label for="telefonoCliente">Teléfono</label>
                                <input type="text" class="form-control" id="telefonoCliente" name="telefonoCliente" placeholder="teléfono" pattern="[6,8,9]{1}[0-9]{8}" required>
                            </div>
                            <div class="form-group">
                                <label for="cometarioCliente">Comentario</label>
                                <textarea class="form-control" id="cometarioCliente" name="cometarioCliente"></textarea>
                            </div>
                            <div class="item-separation">
                                <button type="button" id="closemodal" class="btn btn-secondary pl-4 pr-4" data-dismiss="modal">Cerrar</button>
                                <button class="btn btn-primary" onclick="localStorage.clear();">Realizar pedido</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
